* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.zalando-sans-expanded {
  font-family: "Zalando Sans Expanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  font-family: "Zalando Sans Expanded", sans-serif;
}

.title {
  justify-self: center;
  padding: 2rem;
  border: solid black;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.50);
  border-radius: 10px;
}

.search_section {
  justify-self: center;
}

.search_bar {
  width: 20rem;
  height: 2rem;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.50);
  border-radius: 10px;
}

.search_button {
  width: 5rem;
  height: 2rem;
  font-size: 1rem;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.50);
  border-radius: 10px;
}

.store_section {
  display: flex;
}



.products_list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 2rem;
}

.product_card {
  border: solid 0.5px black;
  width: 12rem;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.50);
  text-align: center;
  padding: 1rem;
}

.product_image {
  width: 10rem;
}

.product_name {
  font-weight: 600;
  margin-bottom: 1rem;
}

.product_price {
  margin-bottom: 1rem;
}

.buy_button, .eliminate_button {
  width: 5rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: solid 0.5px;
  border-radius: 5px;
}

.buy_button {
  background-color: darkseagreen;
  margin-bottom: 1rem;
}

.eliminate_button {
  background-color: indianred;
}

.hidden {
  display: none;
}

.basket {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 2px black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.50);
  text-align: center;
  margin: 2rem 2rem 2rem 1rem;
  gap: 1rem;
}

.basket_title {
  margin: 1rem 0rem;
  width: 16rem;
  align-self:center;
}

.basket_item {
  display: flex;
  flex-direction: column;
  
  border: solid 0.5px black;
  width: 12rem;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.50);
  text-align: center;
  padding: 1rem;
}

.product_image_basket {
  width: 10rem;
}