* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
}

.products_list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 2rem;
}

.product_card {
  border: solid 0.5px black;
  width: 12rem;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.50);
  text-align: center;
  padding: 1rem;
}

.product_image {
  width: 10rem;
}

.product_name {
  font-weight: 600;
}